@font-face{
	font-family: anyFont;
	src: url('../fonts/JandaManateeBubble.eot'),
	url('../fonts/JandaManateeBubble.ttf'),
	url('../fonts/JandaManateeBubble.woff'),
	url('../fonts/JandaManateeBubble.svg');
}
@import 'flex.css';
@import 'style.less';
ul{
	list-style: none;
	font-size: 30px;
	font-family: anyFont;
}
a:link,a:visited,a:hover{
	text-decoration: none;
}
.flex{
	display: flex;
}
img{
	max-width: 400px;
}
.con-box{
	padding: 40px 0px 20px;
}
.con-box .row div{
	background: pink;
}
.con-box .row a{
	font-family: anyFont;
	font-size: 20px;
	padding: 8px 0px;
	text-align: center;
	display: block;
}
.con-box .row a.active{
	color: yellow;
}
h3,h4,h5{
	text-align: center;
}
.footer{
	border-top: 1px solid #ccc;
	color: #333;
}
.container.box{
	width: 700px;
	height: 500px;
	margin: 0 auto;
	padding: 20px;
	font-size: 18px;
}
.container.box div{
	background: white;
}
